
html { display: block; }

body {
    //background-image: url('./background.png');
    background-color: white;
    display: block;
    margin: 8px;
    padding: 30px;
}

h1 { font-family: Trebuchet Ms; }

#app > div {
    font-family:    Trebuchet Ms;
    font-size:      20px;
}