
html { display: block; }

html,body { height:100%; 
    display: flex;
    flex-direction: column;}

body {
    /* background-image: url('./background.png');*/
    background-color: white;
    display: block;
    margin: 8px;
    padding: 30px;
}

h1 { font-family: Trebuchet Ms; }

#app > div {
    font-family:    Trebuchet Ms;
    font-size:      20px;
}
