
.outerView {
  position: relative;
  border: 3px solid black;
  width: 1024px;
  height: 300px;
  background-color: #f9f9f9;
}

.viewport {
    border-right: 3px solid black;
    height: 300px;
    width: 700px;
    overflow: hidden;
}

.innerViewport {
  position: relative;
  height: 300px;
}


.node{
    border-radius: 3px;
    border:1px solid grey;
    margin:0px;
    cursor:pointer;
    white-space: pre;
    font-size:10pt;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
}

.node.successful {
    background-color: #ccffcc;
}

.node.failed {
    background-color: #ffcce0;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}


.createnode {
    border-left:2px solid lightgray;
    z-index: 2;
}

.hdepline {
    height:1px;
    border-top: 1px dashed lightgray;
    z-index: 1;
}

.node.selected{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.node.successful.highlighted {
  background-color: #00ff00;
  border: 1px solid #00cc00;
}

.node.failed.highlighted {
  background-color: #ff0000;
  border: 1px solid #cc0000;
}

.node.faded {
  background-color: lightgrey;
  opacity: 0.3;
}

.node.pending {
    position: relative;
    left: 703px;
    background-image: url('./stripe_pending.png');
    background-position: 0px 0px;
    background-repeat: repeat;
    z-index: 4;
}

.node.running {
    background-image: url('./stripe_run.png');
    background-position: 0px 0px;
    background-repeat: repeat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    animation: animatedBackground 30s linear infinite;
    width: 1024px;
}

.node.lifecycle {
  background-color: lightblue;
  background-position: 0px 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.resetButton {
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  width: 200px;
}

[data-tooltip] {
  position: relative;
  z-index: 4;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  display: block;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  white-space: pre-wrap;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
}
