.master {
  color: WhiteSmoke;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  margin-left: 0;
  padding: 0 15px;
}

.detail {
  background-color: WhiteSmoke;
}

.dark {
  background-color: #333;
}
