


.content {
    position:relative;
    left:200px;
    width: calc(100% - 200px);

}

.graphlist {
    position:absolute;
    height:100%;
    top:0px;
    left:0px;
    background-color:lightgray;
    width:200px;
    padding:10px;
}

.listGraphId{
    font-size: 9pt;
}