.node {
  display: flex;

}

.nodeSelected {
  color: WhiteSmoke;
  background-color: FireBrick;
}

.link {
  border-left: 2px solid black;
  margin-left: 1.5em;
  padding-left: 1em;
  padding-top: 0.25em;
  height: 1.75em;
}

.chain {
  border: 2px solid black;
  border-radius: 50%;

}

.chainSpace {
  padding: 1em;
}

.execTimeViz {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.barGraph > * {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
}

.queued {
  background-color: olive;
  height: 1.5em;
}

.lines {
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 1.5em;
  margin-top: 0.5em;
}

.middleTick {
  border-right: 2px solid;
  height: 0.5em;
  width: 50%;
}
.ran {
  background-color: lime;
  height: 1.5em;
}

.total {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}

.panels {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgb(242, 246, 249);
  margin-bottom: 1.5em;
}

.panels > * {
  border: 0 none;
  background-color: rgb(242, 246, 249);
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 0;
}

.logArea {

}

.logHeader {
}

@keyframes animatedBackground {
}

.rightHeader {
}

.callDetails {

}

.codeLocation {

}

.callId {

}

.causedBy {
    width: 100%;
    color: #333;
    font-size: 12pt;
    background-color: white;
    text-align: center;
    margin: 15px 0;
}


.causedBy:after { content: '';
    position: relative;
    bottom: 50%;
    border-bottom: 1px gray double;
    width: 100%;
    z-index:0;
}

.running {
    background-image: url('./stripe_run.png');
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 10s linear infinite;
    color: #333;
}
.running .callDetails {
    color: #555;
}

.pending {
    background-image: url('./pending_area.png');
}

.successful {
    background-color: #00a02d;
}

.failed {
    background-color: lightcoral;
}

.failed .callDetails {
    color: #333;
}
.failed.logHeader {
    color: #333;
}
.failed .rightHeader {
    color: #333;
}

.nodeInfoBox {

}

.logEntry {
    width: 100%;
    font-family: Courier, serif;
    font-size: 10pt;
    color: #CCCCCC;
    background: #000;
    overflow: auto;
    white-space: pre-wrap;
    z-index: 2;
    padding: 5px;
}

.nodeInfo {
}

.mainNode div.logHeader {
    font-size: 16pt;
    font-weight: bold;
}
